<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Completed</th>
      <th>Comments Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= link_to 'All Tasks', tasks_path, 'data-test-id': 'all-tasks-btn' %>
  <%= link_to 'Active Tasks', tasks_path(completed: 0) %>
  <%= link_to 'Completed Tasks', tasks_path(completed: 1) %>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="task-line">
        <td><%= task.user_name %></td>
        <td><%= task.description %></td>
        <td><%= task.priority %></td>
        <td><%= task.completed %></td>
        <td><%= task.comments_count %></td>
        <td><%= link_to task.id, task %></td>
        <% if can? :edit, task %>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <% end  %>
        <% if can? :destroy, task %>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
