<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<h2>Comments</h2>
<ul>
  <% @task.comments.each do |comment| %>
    <li><b><%= comment.user.name %></b>: <%= comment.text %></li>
  <%  end %>
</ul>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
